div.Features {

  ul.Features__list {
    width: 100%;
    
    li {
      display: grid;
      gap: 0.5em;
      grid-template-columns: 10fr 10fr 1fr;
      margin: 0.5em 0;
      place-items: center center;
      
      span.feature--names-and-phones {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        place-items: center center;
      }
      
      span.feature-name {
        font-weight: 600;
      }
    }
  }

  form {
    display: flex;
    flex-flow: column;

    input {
      margin: 0.1em;
      font-size: 1em;
    }
  }

  button.delete-feature {
    background-color: red;
    border-color: transparent;
    border-radius: 0.5em;
    color: white;
    max-height: 1.5em;
  }
}