@import '../public/stylesheets/variables';

body {
  margin: 0;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  background-color: map-get($colors, 'main--bg');
  color: map-get($colors, 'main');
  
  textarea, input[type="text"] {
    background-color: map-get($colors, 'text-input--bg');
    color: map-get($colors, 'text-input');
    border: 1px solid map-get($colors, 'main');
    font-family: 'Fira Code', monospace;
  }

  code {
    font-family: 'Fira Code', monospace;
  }

}
