@import '../public/stylesheets/variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($colors, 'main--bg');
  color: map-get($colors, 'main');
  
  textarea, input[type="text"] {
    background-color: map-get($colors, 'text-input--bg');
    color: map-get($colors, 'text-input');
    border: 1px solid map-get($colors, 'main');
    font-family: monospace;
  }

}
